* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    background-color: #fff;
}

.btn {
    background-color: #ff7500;
    color: #fff;
    padding: 12px 24px 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.site-header {
    background-color: #fff;
    box-shadow: 0px 4px 10px 0px #0000000d;
    padding: 16px 0 16px 0;
    color: #0000000d;
    border-top: 5px solid #ff7500;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px;
}

.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-nav-img {
    width: 227px;
    height: 60px;
}

.site-nav-list {
    display: flex;
    align-items: center;
}
.site-nav-item:not(:last-child) {
    margin-right: 30px;
}

.site-nav-link {
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    transition: all 0.4s ease;
    padding-bottom: 5px;
}
.site-nav-link:hover {
    color: #ff7500;
    border-bottom: 2px solid #ff7500;
}

/* start hero  */

.hero {
    background-color: #252420;
    color: #fff;
}

.hero-container {
    display: flex;
}

.hero-content {
    padding: 80px 0 80px 0;
}

.hero-line {
    width: 80px;
    height: 3px;
    background-color: #ff7500;
    border: none;
}
.hero-heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.5px;
    padding-top: 40px;
    padding-bottom: 24px;
}
.hero-text {
    padding-bottom: 44px;
    letter-spacing: 0.5px;
}

.hero-img {
    width: 510px;
    height: 510px;
    margin-left: auto;
    padding-top: 40px;
    margin-bottom: -62px;
}

/* Start Feaures  */

.feaures {
    background-color: #fff;
    padding-top: 147px;
    padding-bottom: 210px;
}

.hero-line {
    margin-bottom: 24px;
}

.feaures-heading {
    max-width: 435px;
    width: 100%;
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: 0.5px;
    padding-bottom: 72px;
}

.feaures-list {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
}

.feaures-item {
    max-width: 340px;
    width: 100%;
}

.feaures-item-img {
    width: 100px;
    height: 100px;
    margin-bottom: 32px;
}

.feaures-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.5px;
    padding-bottom: 12px;
}
.feaures-text {
    max-width: 314px;
    letter-spacing: 0.5px;
}

/* start sale */

.sale-container {
    display: flex;
    justify-content: space-between;
    background-color: #252420;
    color: #fff;
    margin-top: 120px;
    margin-bottom: 160px;
    border-radius: 12px;
    padding: 64px;
}
.sale-content {
    max-width: 440px;
    width: 100%;
}
.sale-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.5px;
    padding-bottom: 12px;
}
.sale-text {
    max-width: 440px;
    width: 100%;
    padding-top: 12px;
    margin-bottom: 24px;
}
.book-sale {
    color: #ff7500;
}

.sale-img {
    width: 440px;
    height: 440px;
    margin-top: -149px;
}
/* FOOTER START */

.site-footer {
    background-color: #f8f8f8;
}

.site-footer-container {
}

.site-footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 40px;
    border-bottom: 2px solid #25242080;
}

.social {
    display: flex;
    gap: 16px;
}

.fa-brands {
    color: #252420;
    transition: all 0.4s ease;
}

.fa-brands:hover {
    color: #ff7500;
}

.site-footer-bottom {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-bottom: 56px;
    padding: 60px;
    
    
}
.site-footer-list {
   display: flex;
   flex-direction: column;  
   gap: 16px;
}

.site-footer-link {
    color:#252420;
    line-height: 100%;
    letter-spacing: 0px;
    transition: all0 .6s ease;
    
}
.site-footer-link:hover{
    color: #ff7500;
}

/* FOOTER END */
